<h1>Secrets</h1>

<p>If you see this page, congrats you got the routes and controllers working properly along with the helper methods to ensure that a logged in user has access to this page while a user who is not logged in does not have access.</p>